*.DS_STORE
*.o
*.out
*.toc
*.pdf
*.aux
*.log
*.synctex.gz
*.dvi
ex1/exercice/Exercice1
ex2/exercice/Exercice2
ex3/exercice/Exercice3
ex4/exercice/Exercice4
ex5/exercice/Exercice5
ex6/exercice/Exercice6
ex7/exercice/Exercice7
*m~
*/exercice/graphs/*
*/rapport/graphs/*.pdf
*/rapport/*.fls
*/rapport/*.fdb_latexmk
.directory
